root = true

# Default rules for scripts and shaders
[*.{cs,shader,compute}]
end_of_line = lf
charset = utf-8-bom

# HLSL/Cg files should stay on CRLF to appease Unity on Windows
[*.{hlsl,cginc}]
end_of_line = crlf
charset = utf-8-bom
